@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector 2.0</h1>
    <p class="lead">Welcome to the new and improved Trash Collector</p>
</div>

<div class="row">
  
    <div class="col-md-4">
       @* EMPTY SPACE *@
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Trash Collector is a new company that disrupts the status quo with a flexible, online pickup manager. From this application you will be able to register as a Collector or a Customer. If you're a customer you will be able to select the day that you wish to have your trash picked up. If you're a Collector you will be able to view the pickups that you have to do that day.
        </p>
        <p><a class="btn btn-default" href="http://localhost:8481/Account/Register">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      @* EMPTY SPACE *@
    </div>
</div>